.btn {
    padding: 10px 10px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 1em;
    cursor: pointer;
}

.completo {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    font-size: 0.7em;
}

.incompleto {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 0.7em;
}
